
body{
    background-color: rgb(92, 92, 92);
    border: 2px solid black;
    margin: 64px;
}

.container{
    background-image: url("../images/nightSky.jpg.png");
    background-size: contain;
    display: flex;
    position: relative;
    padding-top: 100px;
    height: 350px;
    margin-left: 0;
    margin: auto 0;
    align-items: flex-end;
}

#building{
    top: 114px;
    height: 196px;
    width: 100%;
    position: absolute;
    display: block;
    background-position: 0px;
    background-image: url("../images/buildings3.png");
    background-size: cover;
    background-repeat: repeat-x;
    overflow: hidden;
}

#building.active{
    animation: moveBG 6s linear infinite;
}
@keyframes moveBG {
    0%{background-position: 0 0;}
    100%{background-position: -1420px 0;}
  }


#road{
    height: 147px;
    width: 100%;
    position: absolute;
    display: block;
    background-image: url("../images/real_road.png");
    background-size: cover;
    background-repeat: repeat-x;
    overflow: hidden;
}

#road.active{
     animation: move 0.9s linear infinite;
}
@keyframes move {
  100%{background-position: 0 0;}
  0%{background-position: 100vw 0;}
}

#finish{
    opacity: 0.9;
    position: absolute;
    right: -400px;
}

@keyframes moveFinish {
    100%{ transform: translateX(-200vw);}
}

#finish.active{
    animation: moveFinish 2s linear;
}

.winner{
    position: absolute;
    text-align: center;
    left: 360px;
    font-size: 48px;
    width: 400px;
    color: rgb(255, 72, 72);
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* display: none; */
}

@keyframes showUp {
    100%{transform: translateY(-350px);}
    0%{transform: translateY(-350px);}
}

.winner.active {
    animation: showUp 3s linear infinite;
}

.winner.active2 {
    color: rgb(252, 255, 72);
    animation: showUp 3s linear infinite;
}

.start{
    box-shadow: 5px 16px 10px black;
    background-color: brown;
    z-index: 10;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 350px;
    font-size: 48px;
    width: 400px;
    color: rgb(255, 232, 232);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin: 0;
    padding: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
}

.start:hover{
    cursor: pointer;
    background-color: rgb(255, 232, 232);
    color: brown;
}
.start.none{
    display: none;
}

.countdown{
    position: absolute;
    top: 180px;
    left: 545px;
    font-size: 120px;
    z-index: 12;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(255, 234, 223);
    text-shadow: 2px 2px 2px black;
}

.countdown.none{
    display: none;
}

.controls{
    color: #ffebcd;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: flex-start;
    margin: 0;
    padding: 10px;
}

.controls li{
    list-style: none;
}
.input-names{
    display: flex;
    position: absolute;
    z-index: 15;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    padding: 24px;
    background-color: brown;
    border-radius: 8px;
    padding-top: 0px;
}
.input-names.hide{
    display: none;
}

.player-forms{
    left: 439px;
    position: absolute;
    top: 50px;
}

input{
    border-style: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.322);
}

input[type=text]:focus {
    box-shadow: 1px 1px 10px rgb(226, 92, 58);
    border: 1px 1px 2px black
  }

input[type=text]{
    border-radius: 8px;
    padding: 8px;
    margin: 20px;
}

input[type=submit]{
    margin: 8px auto;
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(255, 205, 205);

}

input[type=submit]:hover{
    cursor: pointer;
}

.player-forms p{
    font-size: 24px;
    text-align: center;
    color: wheat;
    font-family: monospace;
    font-weight: bolder;
    padding: 0;
}